.play-video {
  flex-basis: 69%;
}
.play-video video {
  width: 100%;
}
.play-video h3 {
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
}
.play-video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  color: #5a5a5a;
  font-size: 14px;
}
.play-video-info img {
  width: 20px;
  margin-right: 8px;
}
.play-video-info span {
  display: inline-flex;
  align-items: center;
  margin-left: 15px;
}
.play-video-info hr {
  border: 0;
  height: 1px;
  color: #ccc;
  margin: 10px 0;
}
.publisher {
  display: flex;
  align-items: center;
  margin: 20px;
}
.publisher div {
  flex: 1;
  line-height: 18px;
}
.publisher div p {
  color: #000;
  font-weight: 600;
  font-size: 18px;
}
.publisher div span {
  color: #5a5a5a;
  font-size: 13px;
}
.publisher img {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
.publisher button {
  background: red;
  color: #fff;
  padding: 8px 30px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  cursor: pointer;
}
.video-description {
  padding-left: 55px;
  margin: 15px 0;
}
.video-description p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #5a5a5a;
}
.video-description h4 {
  font-size: 14px;
  margin-top: 15px;
  color: #5a5a5a;
}
.comment {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}
.comment img {
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
}
